<ion-header>
  <ion-toolbar color= "light">
    <img id= "tool" src="/assets/q1_p1.png" align="left">
    <img id= "tool" src="/assets/q2_p11.png" align="right">
    <ion-title>
      Class (Spring 2016)
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-toolbar>
  
  <img id= "lower" src="/assets/q2_p1.png" align="left">
  <img id= "lower" src="/assets/q2_p2.png" align="left">
  <img id= "lower" src="/assets/q2_p3.png" align="left">
  <img id= "lower" src="/assets/q2_p4.png" align="left">
  <img id= "lower" src="/assets/q2_p5.png" align="left">
  <img id= "lower" src="/assets/q2_p6.png" align="left">
  <img id= "lower" src="/assets/q2_p7.png" align="left">
  <img id= "lower" src="/assets/q2_p8.png" align="left">
  <img id= "lower" src="/assets/q2_p9.png" align="left">
  <img id= "lower" src="/assets/q2_p10.png" align="left">
  
</ion-toolbar>
<ion-content>
    <ion-list>
        <ion-item>
          <ion-label>CSCE 240</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>CSCE 416</ion-label>
          </ion-item>
        <ion-item>
          <ion-label>CSCE 546</ion-label>     </ion-item>
      </ion-list>
</ion-content>
<ion-toolbar>
  <img id="bottom" src="/assets/.png" align="left">
  <img id="bottom" src="/assets/.png" align="left">
  <img id="bottom" src="/assets/.png" align="left">
  <img id="bottom" src="/assets/.png" align="left">
  <img id="bottom" src="/assets/.png" align="left">
  <img id="bottom" src="/assets/.png" align="left">
</ion-toolbar>

