<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
          <ion-button (click)="openNewItemPage()">
            <ion-icon slot="icon-only" name="add-circle"></ion-icon>
          </ion-button>
        </ion-buttons>
        
    <ion-title>
      Menu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-img id="burger" [src]="imgfile"></ion-img>
  
 
  <ion-list>
    <ion-item *ngFor="let item of items" (click)="goToItem(item)">
            <ion-thumbnail slot="start"> 
              <ion-img [src]="item.img"></ion-img>
  
             </ion-thumbnail>
  
      <ion-label>
        {{ item.name }}  &nbsp; &nbsp; {{ item.type }}
        <br>
        ${{ item.price }}
      </ion-label>
    </ion-item>
  </ion-list>
  
  </ion-content>