<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<ion-item>
      <ion-label color="primary" position="floating">email</ion-label>
      <ion-input type="text" [(ngModel)]="user.email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">password</ion-label>
      <ion-input type="text" [(ngModel)]="user.password" required></ion-input>
    </ion-item>
    <ion-item>
      
        <ion-list-header>
          User Type
        </ion-list-header>
    
      <ion-radio-group>
          <ion-item>
          <ion-label>Owner</ion-label>
          <ion-radio value="owner"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Customer</ion-label>
          <ion-radio value="customer"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Delivery Staff</ion-label>
          <ion-radio value="delivery"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-item>

      <ion-button class="submit-btn" expand="block" type="submit" (click)="signup()">Sign up</ion-button>

  </ion-content>
   

