<ion-header>
  <ion-toolbar>
    <ion-img id="tippytop"src="/assets/q5_p1.png" align="center"></ion-img>
   
    <ion-title>
       62,000 top U.S. <br>  
      doctors availible 
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <img id="top" src="/assets/img12.png" align="left">
  <img id="top" src="/assets/img13.png" align="left">
  <img id="top" src="/assets/img14.png" align="left">
  <img id="top" src="/assets/img15.png" align="left">
  <img id="top" src="/assets/img16.png" align="left">
  <img id="top" src="/assets/img17.png" align="left">

  <img id="aftertop" src="/assets/img18.png" align="center">
  <img id="aftertop" src="/assets/img19.png" align="center">
  <img id="aftertop" src="/assets/img20.png" align="center">
  
  <img id="bigpic" src="/assets/bigpic.png" align="center">

  <img id="three" src="/assets/img22.png" align="center">
  <img id="three" src="/assets/img23.png" align="center">
  <img id="three" src="/assets/img24.png" align="center">
  
  <table style="width:100%">
      
          <td >
            <img id= "split" src="/assets/leftpic.png" align= "center">
          </td>
          <td><img id= "split" src="/assets/rightpic.png" align= "center"></td>
         
     
       
       
      
     
    </table>
</ion-content>
