

#tippytop {
  width: 205px;
  padding-left:160px;
  padding-bottom: 35px;
} 
#top {
  height:27px;
}
#aftertop {
  height:21px;
}
#three {
  height:23.5px;
}

#split {
  width: 95%;
}

table {
  padding: 10px;
}
 
#bigpic {
  padding-left:  20px;
}